mixin article(article)
  include meta
  include post-meta

  .meta
    +meta(article)

  ul.extra.tag-list
    +extra('tags', article.tags)

  ul.l-mt-10.m-no-type
    li
      a.twitter-share-button(href='https://twitter.com/share')
        |Tweet

  .article-content
    if article.photos
      .gallery
        for photo in article.photos
          a.gallery-img(href=url_for(photo))
            img(src=url_for(photo))
    != article.content

  #comments
  nav.pagination
    include title
    if article.prev
      a#left-navigator(href=url_for(article.prev.path))
        +title(article.prev)
    if theme.duoshuo
      a.comments-switch(href="javascript:void(0);", key=article.path, url=article.parmalink, duoshuo=theme.duoshuo)
        = __('comments')
    if article.next
      a#right-navigator(href=url_for(article.next.path))
        +title(article.next)
