mixin footer-link(name)
  if theme.menu[name]
    li
      a(href=url_for(theme.menu[name]))
        = __(name)

mixin footer-link-out(url, name)
  li
    a(href=url, target='_blank')
      |#{name}

ul#footer-links.m-no-type
  +footer-link('works')
  +footer-link('archives')
  //- li
  //-   a.out-site(href=url_for(theme.feed))
  //-     = __("feed")
  +footer-link-out('http://kindlize.it/', 'Kindle化された書籍の通知サービス')
  +footer-link-out('https://github.com/kogai', 'githubアカウント')

script(src=theme.cdn.jQuery + '/jquery/2.1.1/jquery.min.js')
if theme.duoshuo
  script(type='text/javascript').
    var duoshuoQuery = {short_name:"!{theme.duoshuo}"}
  script(src=theme.cdn.duoshuo + "/embed.js")
script(src=theme.cdn.pjax + '/jquery.pjax/1.9.2/jquery.pjax.min.js')
script(src=theme.cdn.carbon + '/js/carbon.js')
