mixin footer-link(name)
  if theme.menu[name]
    li
      if config.language === 'zh-CN' || config.language === 'zh-TW'
        a.zh(href=url_for(theme.menu[name]))
          = __(name)
      else
        a(href=url_for(theme.menu[name]))
          = __(name)

ul#footer-links
  //- +footer-link('about')
  //- +footer-link('archives')
  //- li
  //-   a.out-site(href=url_for(theme.feed))
  //-     = __("feed")
  //- li
  //-   a.out-site(href=theme.repo) Theme.Carbon
  li
    a.out-site(href='https://github.com/kogai' target="_blank") github

script(src=theme.cdn.jQuery + '/jquery/2.1.1/jquery.min.js')
if theme.duoshuo
  script(type='text/javascript').
    var duoshuoQuery = {short_name:"!{theme.duoshuo}"}
  script(src=theme.cdn.duoshuo + "/embed.js")
script(src=theme.cdn.pjax + '/jquery.pjax/1.9.2/jquery.pjax.min.js')
script(src=theme.cdn.carbon + '/js/carbon.js')
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-33205064-7', 'auto');
  ga('send', 'pageview');
